@import url(components/font.css);
@import url(components/flexbox.css);
@import url(components/button.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: GoogleSands;
}
.form{
    padding: 16px;
}
.width-auto{
    width: auto;
}

.thong-tin-nv input{
    font-size: 16px;
    height: 46px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    
}
.thong-tin-nv input[type="text"], .thong-tin-nv input[type="date"]{
    width: 100%;
    display: block; 
}
.thong-tin-nv h1, .width-25, .width-50, .width-30, .width-100{
    padding:  10px 10px;
}
.width-25{
    width: 25%;
    
}
.width-50{
    width: 50%;
}
.width-30{
    width: 33.33%;
}
.width-75{
    width: 75%;
}
.width-100{
    width: 100%;
}
.color-red{
    color: red;
}
.margin-left-10{
    margin-left: 10px;
}
select{
    width: 100%;
    height: 46px;
    border: 1px solid gray;
    border-radius: 4px;
}
.row button{
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.thong-tin-nv label{
    font-size: 16px;
}
.button-huy{
    background-color: white !important;color: black !important;
}

.thong-tin-nv{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0 ;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.form{
    background-color: white;
}
.display-none{
    display: none;
}

.thong-tin-nv .open{
    display: flex;
}

@keyframes modalFadeIn{
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
