@font-face {
    font-family:GoogleSands ;
    src: url(assets/assets/font/GoogleSans-Regular.otf);
    }
    @font-face {
    font-family:GoogleSands Bold ;
    src: url(assets/assets/font/GoogleSans-Bold.otf);
    }