.input-icon{
    color: #bbbbbb;
     height: 40px;
     width: 240px;
     outline: none;
     border: none;
     font-size: 13px;
     padding: 0 16px;
 }
 input:focus {
    outline: 1px solid #089740; 
}
select:focus {
    outline: 1px solid #089740; 

}
.input-error{
    border: 1px solid red !important;
}